.wrapper
  = render 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__box
        %p.main-header__box__current-group
          sample_group_1
        %ul.main-header__box__member-list
          Member:
          %li.main-header__box__member-list__member
            = current_user.name
      =link_to edit_group_path(current_user) do
        .main-header__edit-btn
          Edit

    .messages
      = render partial: 'message', collection: @messages

    .form
      / %form#new.new-message{'accept-charset': :'UTF-8', method: :post}
      /   .input-box
      /     %input.input-box__text{name: :'message-content', placeholder: :'type a message', type: :text}/
      /     %label.input-box__image
      /       %i.fa.fa-image
      /       %input.input-box__image__file{type: :file}/
      /   %input.submit-btn{type: :submit, value: :Send}/
      = form_for [@group, @message], html: {id: 'new', class: 'new-message', 'accept-charset': 'UTF-8'}  do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'image'
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'
